<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.dao.SerCompanyMapper">

    <resultMap id="resultMap" type="SerCompanyVO">
        <id column="company_id" property="companyId" jdbcType="INTEGER" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
        <result column="company_msg" property="companyMsg" jdbcType="VARCHAR" />
        <result column="company_crdt" property="companyCrdt" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 新增数据 固定语句 -->
    <insert id="insertSerCompanyVO" useGeneratedKeys="true" keyProperty="companyId">
        insert into ser_company(
            company_name,
            company_code,
            company_msg,
            company_crdt
        ) values (
            #{companyName, jdbcType=VARCHAR},
            #{companyCode, jdbcType=VARCHAR},
            #{companyMsg, jdbcType=VARCHAR},
            #{companyCrdt, jdbcType=TIMESTAMP}
        )
    </insert>

    <!-- 新增数据 动态语句 -->
    <insert id="insertSerCompanyDynamic" useGeneratedKeys="true" keyProperty="companyId">
        insert into ser_company(
            <if test="null != companyName and ''!= companyName">
                company_name,
            </if>
            <if test="null != companyCode and ''!= companyCode">
                company_code,
            </if>
            <if test="null != companyMsg and ''!= companyMsg">
                company_msg,
            </if>
            <if test="null != companyCrdt and ''!= companyCrdt">
                company_crdt
            </if>
        ) values (
            <if test="null != companyName and ''!= companyName">
                #{companyName, jdbcType=VARCHAR},
            </if>
            <if test="null != companyCode and ''!= companyCode">
                #{companyCode, jdbcType=VARCHAR},
            </if>
            <if test="null != companyMsg and ''!= companyMsg">
                #{companyMsg, jdbcType=VARCHAR},
            </if>
            <if test="null != companyCrdt and ''!= companyCrdt">
                #{companyCrdt, jdbcType=TIMESTAMP}
            </if>
        )
    </insert>

    <!-- 新增数据 批量插入 -->
    <insert id="insertCompanyBatch">
        insert into ser_company(
            company_name,
            company_code,
            company_msg,
            company_crdt
        ) values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.companyName, jdbcType=VARCHAR},
                #{item.companyCode, jdbcType=VARCHAR},
                #{item.companyMsg, jdbcType=VARCHAR},
                #{item.companyCrdt, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="updateCompanyDynamic" >
        update ser_company set
        <if test="null != companyName and ''!= companyName">
            company_name = #{companyName, jdbcType=VARCHAR},
        </if>
        <if test="null != companyCode and ''!= companyCode">
            company_code = #{companyCode, jdbcType=VARCHAR},
        </if>
        <if test="null != companyMsg and ''!= companyMsg">
            company_msg = #{companyMsg, jdbcType=VARCHAR},
        </if>
        <if test="null != companyCrdt and ''!= companyCrdt">
            company_crdt =  #{companyCrdt, jdbcType=TIMESTAMP}
        </if>
        where company_id = #{companyId, jdbcType=INTEGER}
    </update>

    <update id="updateCompany">
        update ser_company set
        company_name = #{companyName, jdbcType=VARCHAR},
        company_code = #{companyCode, jdbcType=VARCHAR},
        company_msg = #{companyMsg, jdbcType=VARCHAR},
        company_crdt = #{companyCrdt, jdbcType=TIMESTAMP}
        where company_id = #{companyId, jdbcType=INTEGER}
    </update>

    <!-- 删除数据 -->
    <delete id="deleteCompanyById">
        delete from ser_company where company_id = #{companyId, jdbcType=INTEGER}
    </delete>

    <!-- 查询数据 -->
    <select id="selectSerCompanyList" resultMap="resultMap">
        select company_name, company_code, company_msg, company_crdt from ser_company
    </select>

    <!-- 详情查询 -->
    <select id="selectSerCompanyById" resultMap="resultMap" parameterType="java.lang.Integer">
        select company_id,company_name, company_code, company_msg, company_crdt from ser_company where company_id=#{companyId, jdbcType=INTEGER}
    </select>


</mapper>