<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.dao.UserMapper" >

    <resultMap id="BaseResultMap" type="com.study.model.SysUserVO" >
        <result column="user_id" property="id" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectSysUserList" resultMap="BaseResultMap">
       select user_id,user_name from bc_sys_user
    </select>
    
    <select id="testCountNum" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM vc_jc_rk WHERE SUBSTRING(ZJHM,4)='2201'
    </select>


</mapper>